#NOTE: YOU NEED EITHER AN OPENAI API KEY OR GROQ API KEY, NOT BOTH

########################
OpenAI config
########################
Required#
# OPENAI_API_KEY=<your-openai-api-key>

#Optional#
# OPENAI_BASE_URL=<defaults to OpenAI base URL>
# MODEL_NAME=<defaults to gpt-4.1-mini-2025-04-14 for OpenAI>

########################
OpenAI config
########################
#Required#
# OPENAI_API_KEY=<your-groq-api-key>
# OPENAI_BASE_URL=https://api.groq.com/openai/v1
# MODEL_NAME=meta-llama/llama-4-scout-17b-16e-instruct