########################
### OpenAI config
########################

# Uncomment and configure env vars as needed

# OPENAI_API_KEY=<your-openai-api-key>
# OPENAI_BASE_URL=<defaults to OpenAI>

# Example base URLs:
# OPENAI_BASE_URL=https://api.groq.com/openai/v1

